/Students.class
/Monkeys.class
/Monkey.class
/MonkeysWithUI.class
/Berries.class
/Berry.class
/MonkeysWithUI$1.class
/MonkeysWithUI$2.class
/Tree.class
/Printer.class
/Deer.class
/MonkeysWithUI$3.class
/Elector.class
/Judge.class
/Predator.class
/Scoresheet.class
/ScoreSheet.class
/MonkeysWithUI$4.class
/EvolutionAlgorithm.class
/SimulationManager.class
